<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link type="text/css" rel="stylesheet" href="./base.css" />
  <link type="text/css" rel="stylesheet" href="./index.css" />
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

  <header class="header">
    <h1 class="main-title"> Update Your Notes</h1>
  </header>

  <div class="note-form-wrapper">
    <div>
      <label for="title">Title: </label>
      <input type="text" name="title" id="title" value="<%= title %>" />
      <input type="hidden" name="msgId" id="msgId" value="<%= id %>">
    </div>
    <div>
      <textarea id="note" name="note" rows="5" required><%= comments %></textarea>
    </div>
    <div>
      <input type="submit" id="submit" value="Update" />
    </div>
  </div>
</body>
<script>
  $('#submit').click(function () {
    var title = $('#title').val();
    var note = $('#note').val();
    console.log(note);
    var id = $('#msgId').val();
    if (title.length == 0) {
      alert('Please enter title');
      return;
    }
    if (note.length == 0) {
      alert('Please enter content');
      return;
    }
    $.ajax({
      type: 'post',
      url: '/editData',
      dataType: 'json',
      data: { title: title, note: note, id: id },
      success: function (data) {
        alert(data.msg)
        location.href = "/"
      },
      error: function (error) {
        console.log(error)
      }
    })
  })
</script>

</html>